@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,800;1,100;1,200;1,300;1,400;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-weight: 600;
  font-family: Poppins, sans-serif;
  text-align: center;
  background: #dde2e7;
  color: #1a202c;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  color: #1a202c;
  font-size: 2rem;
  float: left;
  font-family: Poppins, sans-serif;
}

.list-header {
  color: #941c4d;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
}

#refresh,
#submit {
  background: transparent;
  border: 2px solid #1a202c;
  color: #1a202c;
}

.error,
.notification {
  display: none;
  align-items: center;
  width: 300px;
  font-size: 0.8rem;
  margin: 10px auto;
  text-align: left;
}

.error-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: relative;
  float: right;
  top: -15px;
  right: -5px;
  font-size: 1rem;
  font-weight: 900;
}

#container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#list {
  height: 400px;
  width: 300px;
  padding: 10px;
  overflow-y: auto;
}

li {
  margin: 20px;
  border: 1px solid #dde2e7;
  padding: 10px;
  border-radius: 5px;
  background: #dde2e7;
  box-shadow: 3px 2px 4px #1a202c;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #f7fafc;
  width: 5px;
}

.user {
  float: left;
}

.score {
  text-align: left;
  float: right;
}

.input-container {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

#submit {
  width: 100px;
  margin-top: 15px;
  margin-left: 130px;
}

input {
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid slategray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

::placeholder {
  color: slategrey;
}

footer {
  margin: 30px;
}

@media screen and (min-width: 800px) {
  main {
    min-height: 95vh;
  }

  #container {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }

  #list {
    height: 50vh;
    width: 50vw;
    padding: 10px;
    overflow-y: auto;
  }

  .error,
  .notification {
    width: 450px;
    margin: 20px auto;
  }

  .close {
    position: relative;
    top: -10px;
    right: -35px;
  }

  form {
    margin-left: 60px;
  }

  footer {
    margin: 0;
  }
}
