* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-size: 1rem;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background: #dde2e7;
  color: #1a202c;
  overflow-x: hidden;
}

.header {
  color: #1a202c;
  font-size: 2rem;
  font-family: cursive;
}

.list-header {
  color: #941c4d;
  font-weight: 900;
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 25px;
}

.error,
.notification {
  display: none;
  align-items: center;
  width: 300px;
  font-size: 0.8rem;
  margin: 10px auto;
  text-align: left;
}

.error-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.close {
  position: relative;
  float: right;
  top: -15px;
  right: -5px;
  font-size: 1rem;
  font-weight: 900;
}

#container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#list {
  height: 50vh;
  padding: 10px;
  overflow-y: hidden;
}

#list:hover {
  overflow-y: scroll;
  overflow-x: hidden;
}

li {
  margin: 20px;
  border: 1px solid #dde2e7;
  padding: 10px;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: #f7fafc;
  width: 5px;
}

.user {
  float: left;
}

.score {
  text-align: left;
  float: right;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  width: 80%;
  padding: 30px;
}

input {
  margin: 20px auto;
  border: none;
  border-bottom: 2px solid slategray;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

::placeholder {
  color: slategrey;
}

@media screen and (min-width: 800px) {
  .error,
  .notification {
    width: 450px;
    margin: 20px auto;
  }

  .close {
    position: relative;
    top: -10px;
    right: -35px;
  }

  #container {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
  }
}
