* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  font-size: 16px;
  text-align: center;
  background-color: black;
  color: beige;
  overflow-x: hidden;
}

.header {
  font-family: monospace;
  font-size: 2rem;
  font-weight: bolder;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}

#list {
  margin: 0;
  padding: 0;
}

.list-header {
  padding: 10px;
  color: darkkhaki;
  font-size: 1.2rem;
}

.list-item {
  margin: 10px;
  padding: 5px;
  list-style: none;
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.div-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-self: center;
  border: 1px solid whitesmoke;
  border-left: 3px solid aqua;
  padding: 10px;
}

.img-container {
  margin-right: 20px;
}

img {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: paleturquoise;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

input {
  padding: 7px;
  margin: 10px;
}

.error {
  animation: hide 10s forwards;
}

@keyframes hide {
  0% {
    opacity: 1;
  }

  99% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
